.img-preview {
  height: 6em;
  width: 10em;
  margin: 5px;
  border-radius: 10px;
  background: url("https://www.fillmurray.com/640/360"), #d2dbe9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: end;
}
