<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <h5>Add Category</h5>
    <button nbButton outline status="success" type="submit" (click)="edit()" [disabled]="!form.valid">
      Update
    </button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="categoryName" class="label">Category Name</label>
        <input type="text" nbInput fullWidth class="form-control" name="categoryName" id="categoryName"
          formControlName="name">
      </div>

      <!--? error Message --->
      <div *ngIf="Name.invalid && ( Name.dirty || Name.touched)">
        <nb-alert *ngIf="Name.errors.required" class="error-message">*Category name is required!</nb-alert>
        <nb-alert *ngIf="Name.errors.minlength" class="error-message">*Category Name should be at least
          {{Name.errors.minlength.requiredLength}} Character </nb-alert>

        <nb-alert *ngIf="Name.errors.maxlength" class="error-message">
          *Category Name should be at most {{Name.errors.maxlength.requiredLength}} Character
        </nb-alert>
      </div>
      <!--? error Message --->

      <button nbButton status="info" (click)="upload.click()">Add Image
        <input type="file" #upload hidden (change)="onImageSelected($event)">
      </button>
    </form>
  </nb-card-body>
</nb-card>
