.row > div > nb-card {
  margin-bottom: 0.5em;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  background: url("../../../assets/images/sd.gif"), #ddd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}

.icon {
  font-size: 1.2em;
  text-align: center;
}

.fa-store {
  font-size: 1em;
}

.error-message {
  color: red !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 1ex !important;
}
