<div class="row no-gutters">
  <div class="profile col-12 col-md-4 p-0 p-md-1">
    <nb-card>
      <nb-card-body>
        <div class="d-flex flex-column text-center">
          <div class="avatar mt-3"></div>
          <div class="h5 mt-2">
            {{
              seller?.applicationUser.fname +
                " " +
                seller?.applicationUser.lname || "Demo Name"
            }}
          </div>
          <div>
            {{ "@" + seller?.applicationUser.userName || "@userName" }}
          </div>
          <div class="list-group mt-2">
            <!-- -------------------------------- email -------------------------------- -->
            <div class="list-group-item row mr-2 ml-2">
              <div
                class="
                  col-2
                  icon
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div
                class="col-10 d-flex justify-content-start align-items-center"
              >
                <span class="value">
                  {{ seller?.applicationUser.email || "demo@example.com" }}
                </span>
              </div>
            </div>

            <!-- -------------------------------- phone -------------------------------- -->
            <div class="list-group-item row mr-2 ml-2">
              <div
                class="
                  icon
                  col-2
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <i class="fas fa-mobile" aria-hidden="true"></i>
              </div>
              <div
                class="col-10 d-flex justify-content-start align-items-center"
              >
                <span class="value">
                  {{
                    seller?.applicationUser.phoneNumber || "xxx-xxx-xxx-xx"
                  }}</span
                >
              </div>
            </div>

            <!-- ------------------------------- address ------------------------------- -->
            <div class="list-group-item row mr-2 ml-2">
              <div
                class="
                  col-2
                  icon
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
              </div>
              <div
                class="col-10 d-flex justify-content-start align-items-center"
              >
                <span class="value">{{
                  seller?.applicationUser.address || "Demo Address"
                }}</span>
              </div>
            </div>

            <!-- ----------------------------- store name ------------------------------ -->
            <div class="list-group-item row mr-2 ml-2">
              <div
                class="
                  col-2
                  icon
                  d-flex
                  justify-content-center
                  align-items-center
                "
              >
                <i class="fas fa-store" aria-hidden="true"></i>
              </div>
              <div
                class="col-10 d-flex justify-content-start align-items-center"
              >
                <span class="value">{{
                  seller?.storeName || "storeName"
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="profile-home col-12 col-md-8 p-0 p-md-1">
    <nb-card>
      <nb-card-header>
        <h5>Your Profile</h5>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" class="mt-3 mb-3">
          <div class="row">
            <!-- -------------------------------- fname -------------------------------- -->
            <div class="form-group col-12 col-md-6">
              <label for="fname" class="label">First Name</label>
              <input
                type="text"
                nbInput
                fullWidth
                class="form-control"
                name="fname"
                id="fname"
                placeholder="First Name"
                formControlName="fname"
              />

              <!--? error Message --->
              <div *ngIf="Fname.invalid && (Fname.dirty || Fname.touched)">
                <nb-alert *ngIf="Fname.errors.required" class="error-message"
                  >*First name is required!</nb-alert
                >
                <nb-alert *ngIf="Fname.errors.minlength" class="error-message"
                  >*First Name should be at least
                  {{ Fname.errors.minlength.requiredLength }} Character
                </nb-alert>

                <nb-alert *ngIf="Fname.errors.maxlength" class="error-message">
                  *First Name should be at most
                  {{ Fname.errors.maxlength.requiredLength }} Character
                </nb-alert>
              </div>
              <!--? error Message --->
            </div>

            <!-- -------------------------------- lname -------------------------------- -->
            <div class="form-group col-12 col-md-6">
              <label for="lname" class="label">Last Name</label>
              <input
                type="text"
                nbInput
                fullWidth
                class="form-control"
                name="lname"
                id="lname"
                placeholder="Last Name"
                formControlName="lname"
              />

              <!--? error Message --->
              <div *ngIf="Lname.invalid && (Lname.dirty || Lname.touched)">
                <nb-alert *ngIf="Lname.errors.required" class="error-message"
                  >*Last name is required!</nb-alert
                >
                <nb-alert *ngIf="Lname.errors.minlength" class="error-message"
                  >*Last Name should be at least
                  {{ Lname.errors.minlength.requiredLength }} Character
                </nb-alert>
                <nb-alert *ngIf="Lname.errors.maxlength" class="error-message">
                  *Last Name should be at most
                  {{ Lname.errors.maxlength.requiredLength }} Character
                </nb-alert>
              </div>
              <!--? error Message --->
            </div>
          </div>

          <!-- -------------------------------- email -------------------------------- -->
          <div class="form-group">
            <label for="email" class="label">Email</label>
            <input
              type="email"
              nbInput
              fullWidth
              class="form-control"
              name="email"
              id="email"
              placeholder="Email"
              formControlName="email"
            />

            <!--? error Message --->
            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
              <nb-alert *ngIf="Email.errors.required" class="error-message"
                >*Last name is required!</nb-alert
              >
              <nb-alert *ngIf="Email.errors.email" class="error-message"
                >*Email is invalid!
              </nb-alert>
            </div>
            <!--? error Message --->
          </div>

          <div class="row">
            <!-- ------------------------------- address ------------------------------- -->
            <div class="form-group col-12 col-md-6">
              <label for="address" class="label">Address</label>
              <input
                type="text"
                nbInput
                fullWidth
                class="form-control"
                name="address"
                id="address"
                placeholder="Address"
                formControlName="address"
              />

              <!--? error Message --->
              <div
                *ngIf="Address.invalid && (Address.dirty || Address.touched)"
              >
                <nb-alert *ngIf="Address.errors.required" class="error-message"
                  >*Address is required!</nb-alert
                >
              </div>
              <!--? error Message --->
            </div>

            <!-- -------------------------------- phone -------------------------------- -->
            <div class="form-group col-12 col-md-6">
              <label for="phone" class="label">Phone Number</label>
              <input
                type="text"
                nbInput
                fullWidth
                class="form-control"
                name="phone"
                id="phone"
                placeholder="Phone number"
                formControlName="phoneNumber"
              />

              <!--? error Message --->
              <div
                *ngIf="
                  PhoneNumber.invalid &&
                  (PhoneNumber.dirty || PhoneNumber.touched)
                "
              >
                <nb-alert
                  *ngIf="PhoneNumber.errors.required"
                  class="error-message"
                  >*Number is required!</nb-alert
                >
                <nb-alert
                  *ngIf="PhoneNumber.errors.pattern"
                  class="error-message"
                  >*Number is invalid</nb-alert
                >
              </div>
              <!--? error Message --->
            </div>
          </div>

          <button
            class="mt-3 mb-2"
            fullWidth
            nbButton
            status="success"
            (click)="save()"
            [disabled]="!form.valid"
          >
            Save
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
